:root {
  font-family: Plus Jakarta Sans;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
}

input{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000929;
  opacity: 0.5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h2, h6{
  margin: 0;
}

h6{
  font-size: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
