.contHome{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    color: #333;
}

.contLog{
    width: 50%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contImg{
    width: 50%;
    background-image: url('../../../assets//pic.png');
    background-size: cover;
}

.contForm{
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    width: 60%;
    margin: 4rem 0 2rem 0;
    border: 1px solid green;
}

.contTxtHome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

}

h4{
    margin: .5rem 0 .5rem 0;
}

.txtTitle{
    width: 352px;
    height: 40px;

    /* Heading/H3 */

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    /* identical to box height, or 40px */

    letter-spacing: -0.01em;

    /* Main Color/Black */

    color: #000929;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.txtSubtitle{
    width: 352px;
    height: 24px;
    
    /* Body / Medium 150% / Medium */
    
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    
    /* Main Color/Black */
    
    color: #000929;
    
    opacity: 0.5;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media (max-width: 480px){
    .contImg{
        display: none;
    }

    .contLog{
        width: 100%;
    }

    .contForm{
        width: 90%;
        height: 90%;
        text-align: center;
    }

    .contInput{
        height: 50%;
        width: auto;
    }

    .contImgUploaded{
        margin-top: 1rem;
    }
}

@media (max-width: 760px){
    .contImg{
        display: none;
    }

    .contLog{
        width: 100%;
    }

    .contForm{
        width: 90%;
        text-align: center;
    }

    .contInput{
        width: 100%;
    }
}